[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dotenv = "==0.9.9"
colorama = "*"
duckdb = "==1.3.2"
playwright = "==1.54.0"
tqdm = "==4.67.1"
pyinstaller = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[scripts]
bot = "python main.py"
build = "pyinstaller main.spec"
tests = "pytest src/tests/. -v -s"

[requires]
python_version = "3.11"
